.book-details-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.details-body{
    display: flex;
}
.cover-container{
    overflow: hidden;
    height: 80%;
    width: 200px;
    border-radius: 5px;
}
.cover-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-side {
    margin-left: 15px;
}
.left-side-footer{
    color: rgb(150,163,196);
    display: flex;
}
.reviews{
    overflow-y: scroll;
    max-height: 300px;
    width: 100%;
}
.review{
    display: flex;
    flex-direction: column;
}