.book-page-container{
    background-color: #F2F2F3;
    min-height: 100vh;
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
}

.book-creating-container{
    background-color: #FFFFFF;
    border: 2px solid rgb(244,247,253);
    border-radius: 33px;
    max-width:40%;
    margin: 0 auto;
}
.book-creating-container form {
    display: flex;
    flex-direction: column;
}
.book-creating-container .header{
    align-self: center;
} 
.book-creating-container .footer{
    align-self: center;
    margin-bottom: 5px;
} 
.book-creating-container .footer button{
    margin-right: 5px;
} 
.book-creating-container .inner-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.cover-container{
    flex-grow: 1/3;
    background-color: black;
}
.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
}
.mat-input-element {
    font-size:small;
    font-weight: 200;
}
.mat-toolbar-single-row button {
    width: 100px;
}